name: CI Tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install pytest maturin

      - name: Build Rust extension
        run: |
          cd rust
          maturin develop --release

      - name: Run tests
        run: |
          pytest -v
