name: CI Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Build Rust core
        working-directory: rust
        run: |
          cargo build --release

      - name: Expose Rust library
        run: |
          echo "LD_LIBRARY_PATH=$(pwd)/rust/target/release" >> $GITHUB_ENV

      - name: Run tests
        run: |
          pytest src/core -v

